---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import Pil from "../components/Pil.astro";
import gran from "../assets/gran.svg";
import threebows from "../assets/threebows.svg";
import sloejfe1 from "../assets/slojfe1.png";
import sloejfe2 from "../assets/slojfe2.png";
import sloejfe3 from "../assets/slojfe3.png";
---

<MainLayout>
  <!--Første sektion start -->
  <section class="grid grid-cols-1 lg:grid-cols-2 m-20 gap-20 mt-40 lg:mt-10 place-self-center">
    <div class="lg:m-15">
      <h2 class="text-3xl lg:text-5xl">Jul er sløjfernes fest</h2>
      <p class="mt-10 text-xl/8">
        Julen er den tid, hvor sløjfer virkelig kommer til deres ret – på gaver, i håret og som små detaljer, der spreder glæde. Hos Joliment bliver hver sløjfe skabt med omtanke og kærlighed, og i år
        får de ekstra betydning gennem samarbejdet med Make-A-Wish. 25% af salget går direkte til at opfylde hospitalsramte børns største ønsker, så hver sløjfe ikke bare pynter, men også gør en
        forskel.
      </p>
      <div class="mt-15">
        <a href="/kobsside"><Button variant="primary">Køb sløjfe</Button></a>
      </div>
    </div>
    <div>
      <Image src={sloejfe1} alt="sløjfe 1" class="w-125 place-self-center" />
    </div>
  </section>
  <section>
    <div>
      <Image src={gran} alt="gran" class="w-full" />
    </div>
  </section>
  <!--Første sektion slut -->

  <!--Andet sektion start -->
  <section class="grid grid-cols-1 lg:grid-cols-2 m-20 gap-20 mt-40 lg:mt-50 place-self-center">
    <div class="lg:m-15">
      <h2 class="text-3xl lg:text-5xl">Et kærligt håndværk med omtanke</h2>
      <p class="mt-10 text-xl/8">
        Joliment skaber deres sløjfer af 100% genanvendte tekstiler, som får lov til at blive til noget smukt og meningsfuldt igen. Materialerne, der tidligere har haft et andet liv, forvandles med
        omhu til sløjfer, der hver især rummer deres egen lille historie. På den måde bliver hver sløjfe et symbol på fornyet håb – skabt med hjerte, omtanke og respekt for både mennesker og miljø.
      </p>
      <div class="mt-15">
        <a href="/kobsside"><Button variant="primary">Køb sløjfe</Button></a>
      </div>
    </div>
    <div>
      <Image src={sloejfe2} alt="slohfe 2" class="w-125 place-self-center" />
    </div>
  </section>
  <!--Andet sektion slut -->

  <!--illustration sløjfer start -->
  <section>
    <div class="lg:my-10">
      <Image src={threebows} alt="tre sløjfer" class="lg:w-125 place-self-center" />
    </div>
  </section>
  <!--illustration sløjfer start -->

  <!--tredje sektion start -->
  <section class="grid grid-cols-1 lg:grid-cols-2 m-20 gap-20 mt-30 lg:mt-30 place-self-center">
    <div>
      <Image src={sloejfe3} alt="sløjfe 3" class="w-125 place-self-center" />
    </div>
    <div class="lg:m-15">
      <h2 class="text-3xl lg:text-5xl">Materialer med et nyt liv</h2>
      <p class="mt-10 text-xl/8">
        Joliment arbejder udelukkende med genanvendte tekstiler, som bliver udvalgt for deres karakter og struktur. Stoffet kommer fra tidligere brugte materialer, der får en ny chance i form af
        håndlavede sløjfer. Det betyder, at hver sløjfe både bærer på et unikt udtryk og et ansvarligt, bæredygtigt afsæt.
      </p>
      <div class="mt-15">
        <a href="/kobsside"><Button variant="primary">Køb sløjfe</Button></a>
      </div>
    </div>
  </section>
  <!--tredje sektion slut -->

  <Pil />
</MainLayout>
