---
import { Image } from "astro:assets";
import footer from "../assets/footer-logo.png";
import facebook from "../assets/Faceikon.svg";
import instagram from "../assets/instaikon.svg";
import tiktok from "../assets/tiktokikon.svg";
import mail from "../assets/mail-ikon.png";
import mobil from "../assets/Mobil-ikon.png";
import slojfe from "../assets/slojfe-rod.png";
import Button from "./Button.astro";
---

<section class="bg-beige flex flex-col">
  <section class="">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div class="mt-10 lg:mt-30 lg:ml-40 place-self-center mx-10">
        <Image src={footer} alt="" class="" />
      </div>
      <div class="flex flex-col items-center">
        <div class="grid grid-cols-3 sm:grid-cols-3 mt-10 lg:mt-30 justify-items-center gap-10 lg:ml-40">
          <a href="skriv facebook linke her"><Image src={facebook} alt="" class="w-8 cursor-pointer" /></a>
          <a href="https://www.instagram.com/jolimentvintage/" target="_blank"><Image src={instagram} alt="" class="cursor-pointer" /></a>
          <a href="https://www.tiktok.com/@jolimentvintage" target="_blank"><Image src={tiktok} alt="" class="cursor-pointer" /></a>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col">
    <div class="grid grid-cols-1 lg:grid-cols-3 mt-10 p-10">
      <div class="place-self-center">
        <p class="mb-3 text-darkred">Kontakt</p>
        <div class="flex items-center mb-3 gap-3">
          <Image src={mail} alt="" class="" />
          <a class="text-darkred" href="">Info@joliment.dk</a>
        </div>
        <div class="flex items-center mb-3 gap-3">
          <Image src={mobil} alt="" class="" />
          <a class="text-darkred" href="">+45 40 22 19 23</a>
        </div>
        <p class="text-darkred">Mandag - Fredag kl. 9 - 17</p>
      </div>

      <div class="place-self-center mt-10 lg:mt-0">
        <p class="text-darkred">Adresse</p>
        <p class="text-darkred">JOLIMENT</p>
        <p class="text-darkred">Gammel jernbanevej 4,</p>
        <p class="text-darkred">2500, Valby</p>
        <p class="text-darkred">Danmark</p>
      </div>

      <div class="place-self-center mt-10 lg:mt-0">
        <Image src={slojfe} alt="" class="place-self-center" />
        <a href="/kobsside"><Button variant="fjerde">Køb sløjfe</Button></a>
      </div>
    </div>
  </section>
</section>
